* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --lightDark: rgb(35, 35, 45);
  --lightWhite: rgb(220, 220, 220);
  --shadow: 2px 5px 20px black;
}

body {
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.03rem;
  color: var(--lightDark);
  overflow-x: hidden;
  position: relative;
  overflow-y: scroll;
  background-color: var(--lightWhite);
}

body.dark {
  color: white;
  background-color: var(--lightDark);
}

.top {
  height: 40vh;
  background: linear-gradient(
      to right,
      rgba(235, 160, 193, 0.25),
      rgba(81, 81, 170, 0.418)
    ),
    url(images/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

body.dark .top {
  background: linear-gradient(
      to right,
      rgba(8, 1, 18, 0.7),
      rgba(25, 2, 2, 0.7)
    ),
    url(images/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
}

.container {
  position: absolute;
  top: 12vh;
  left: 0;
  right: 0;
  margin: auto;
  width: clamp(400px, 60%, 1000px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  padding-bottom: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-family: cursive;
  font-size: 1.5rem;
  letter-spacing: 10px;
  color: var(--lightWhite);
}

#create-new-task {
  border-radius: 5px;
  border: none;
  height: 60px;
  padding: 10px 20px;
  justify-content: space-between;
}

#create-new-task input {
  height: 100%;
  flex: 1 1 auto;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--lightWhite);
  color: gray;
  min-width: 100px;
}

body.dark #create-new-task input {
  background-color: var(--lightDark);
}

#create-new-task i {
  font-size: 1.2rem;
  color: black;
  text-align: right;
}

body.dark #create-new-task i {
  color: var(--lightWhite);
}

main {
  border-radius: 5px;
  box-shadow: var(--shadow);
  position: relative;
  height: fit-content;
  overflow-x: hidden;
}

main.cleared {
  height: 50vh;
}

main .overlay-div {
  position: absolute;
  z-index: -1;
  opacity: 0;
  inset: 0;
  text-align: center;
  align-content: center;
  background-color: var(--lightWhite);
}

body.dark .overlay-div {
  background-color: var(--lightDark);
}

main.cleared .overlay-div {
  opacity: 1;
  z-index: 1;
}

main .bottom-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: var(--lightDark);
  font-size: 0.9rem;
  letter-spacing: normal;
  background-color: var(--lightWhite);
}

.bottom-bar .filters {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filters.small-screen {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
  align-self: center;
  gap: 20px;
  background-color: var(--lightWhite);
  box-shadow: var(--shadow);
  border-radius: 5px;
}

body.dark .filters.small-screen {
  background-color: var(--lightDark);
}

.filters #all {
  color: rgb(98, 98, 255);
}

.drag-para {
  align-self: center;
  margin-top: 10px;
}

/* general */
#create-new-task,
.task.done,
.bottom-bar,
.drag-para {
  color: gray;
}

.task {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px 20px;
  border-bottom: rgb(160, 160, 160) 0.5px solid;
  background-color: var(--lightWhite);
}

.task .task-content {
  flex: 1 1 auto;
}

.task.done .task-content {
  text-decoration: line-through;
}

.check-radio {
  width: 25px;
  height: 25px;
  border: var(--lightDark) 1px solid;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: none;
}

body.dark .check-radio {
  border: var(--lightWhite) 1px solid;
}

.check-radio i {
  font-size: 0.5rem;
  color: white;
  pointer-events: none;
}

.task.done .check-radio {
  background-image: linear-gradient(
    150deg,
    rgb(41, 181, 202),
    rgb(149, 79, 149)
  );
  background-size: cover;
}

.task .close {
  opacity: 0;
}

.task:hover .close {
  opacity: 1;
}

body .filters p:hover,
body .clear-all:hover {
  color: black;
}

body.dark .filters p:hover,
body.dark .clear-all:hover {
  color: white;
}

body.dark .task,
body.dark .bottom-bar {
  background-color: var(--lightDark);
}

@keyframes delete-animation {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(500px);
  }
}

@media (max-width: 500px) {
  .container {
    width: 85vw;
  }

  i {
    font-size: 1rem !important;
  }

  #create-new-task {
    height: fit-content;
    border-radius: 5px;
    height: 60px;
    padding: 10px;
  }

  .check-radio {
    width: 15px;
    height: 15px;
    min-width: 15px;
  }

  .task {
    gap: 10px;
    padding: 15px 10px;
  }
}
